.Bio .Content {
   position: relative;
   display: inline-block;
   vertical-align: top;
   margin-right: 30px;
   width: 420px;
}

.Bio .Content p {
   margin: 0;
}

.Bio .Header {
   margin-bottom: 10px;
}

.Bio .Text {
   margin-bottom: 2em;
}