.Work {
   position: relative;
   margin-right: 20px;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.Work_header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   flex: 0 0 30px;
}

.Work_content {
   display: flex;
   border: 1px solid white;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
   cursor: none;
   padding: 10px;
   user-select: none;
   z-index: 10;
   overflow: hidden;
}

.Work_content>span {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Work_content__image {
   max-width: 100%;
   max-height: 100%;
}

.Work_closeButton {
   cursor: pointer;
}

.Work_title {
   cursor: default;
}

.Work_image {
   position: relative;
   margin: auto;
   top: 90px;
}

.Cursor {
   position: absolute;
   cursor: none;
   user-select: none;
   z-index: 100;
}

.carousel-appear {
   opacity: 0.01;
}

.carousel-appear.carousel-appear-active {
   opacity: 1;
   transition: opacity .5s ease-in;
}

.carousel-enter {
   opacity: 0.01;
}

.carousel-enter.carousel-enter-active {
   opacity: 1;
   transition: opacity 300ms ease-in;
}

.carousel-exit {
   opacity: 0.01;
}

.carousel-exit.carousel-exit-active {
   opacity: 0.01;
   transition: opacity 50ms ease-in;
}