.Work {
    position: relative;
    margin-right: 20px;
}

.Work_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Work_content {
    border: 1px solid white;
}

.Work_image {
    position: relative;
    margin: auto;
    top: 90px;
}