.App {
  background-color: #000000;
  height: 100%;
}

.App .ActiveArea {
    display: inline-block;
    position: relative;
    color: #ffffff;
    margin-top: 30px;
    width: calc(100% - 180px);
}

.App a {
    color: #ffffff;
}

.App a:visited {
    color: #ffffff;
}
