.Contacts .Content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.Contacts .MessageForm_Header {
    margin-bottom: 10px;
}

.Contacts .MessageForm {
    width: 420px;
}

.Contacts .MessageForm .PersonalData {
    opacity: 0.5;
    width: 100%;
}
